name: "Build"
on:
  workflow_call:
defaults:
  run:
    shell: bash


jobs:

  build-node:
    name: "Build Node.js"
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
    
      - name: "Clean install dependencies"
        run: npm ci

      - name: "Run npm build"
        run: npm run build

      - name: "Run npm test"
        env:
          TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
          TEST_PUBLIC_KEY: ${{ secrets.TEST_PUBLIC_KEY }}
        run: npm run test

  build-docker:
    name: "Build Docker image"
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: buildx
        with:
          install: true
          version: latest
    
      - name: Configure Docker image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ env.IMAGE_NAME }}
            registry.digitalocean.com/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=staging-latest
            type=sha,format=long

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          load: true
          target: runner
          tags: ${{ steps.meta.outputs.tags }}
          outputs: type=docker,dest=did-registrar-staging.tar
          cache-from: type=gha
          cache-to: type=gha,mode=min

      - name: Upload build image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: did-registrar-staging
          path: did-registrar-staging.tar
